<app-my-header></app-my-header>
<div class="content-wrapper">
    <app-my-toolbar [nameContent]="nameContent"></app-my-toolbar>
    <div class="container-fluid">
        <!-- adiciona os elementos na pagina -->
        <form>
            <div class="row">

          <fieldset class="border p-2 col-6">
          <div class="row">
              <div class="col-6 col-md-4 col-lg-4">
              <div class="form-group">
                      <mat-form-field appearance="fill">
                      <mat-label>Data Inicial</mat-label>
                      <input #dateinitial matInput [matDatepicker]="pickerx16">
                      <mat-datepicker-toggle matSuffix [for]="pickerx16"></mat-datepicker-toggle>
                      <mat-datepicker #pickerx16></mat-datepicker>

                  </mat-form-field>
              </div>
          </div>

          <div class="col-6 col-md-4 col-lg-4">
              <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Data Final</mat-label>
                    <input #dateinitial matInput [matDatepicker]="pickerx17">
                    <mat-datepicker-toggle matSuffix [for]="pickerx17"></mat-datepicker-toggle>
                    <mat-datepicker #pickerx17></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        </div >
      </fieldset>


</div><br>

<div class="row">
    <div class="col-2 col-md-2 col-lg-2">
        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Atendimentos que contém Despesas/Receitas</mat-label>
                <input #complaint class="text-uppercase" matInput (keyup)="getReasonComplaint()">
            </mat-form-field>
        </div>
    </div>

    <div class="col-2 col-md-3 col-lg-3">
        <div class="form-group">
            <mat-form-field appearance="fill">
                <input #nameComplaint class="text-uppercase" matInput (dblclick)="openModalMotivorec()">
            </mat-form-field>
        </div>
    </div>



</div>


            <div class="row">
                <div class="col-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Motivo da Reclamação</mat-label>
                            <input #complaint class="text-uppercase" matInput (keyup)="getReasonComplaint()"(dblclick)="openModalMotivorec()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-2 col-md-3 col-lg-3">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <input #nameComplaint class="text-uppercase" matInput (dblclick)="openModalMotivorec()">
                        </mat-form-field>
                    </div>
                </div>



            </div>



        </form>


    </div> <!-- ./container-fluid -->

    <div class="row ">
      <div class="col-3 col-md-4 col-lg-4 d-inline-flex ">

          <button mat-raised-button color="primary" (click)="print()">Imprimir</button>
          <button mat-raised-button color="primary" (click)="limpar()">Limpar</button>
          <button mat-raised-button color="primary" (click)="back()">Voltar</button>
      </div>
    </div><br>
</div>
<app-my-footer></app-my-footer>
