<app-my-header></app-my-header>
<div class="content-wrapper">
    <app-my-toolbar [nameContent]="nameContent"></app-my-toolbar>
    <div class="container-fluid">
        <!-- adiciona os elementos na pagina -->
        <form>

            <div class="row">
                <fieldset class="border p-2 col-6 ">
                    <legend class="w-auto">Data de Retirada</legend><br>
                    <div class="row">
                      <div class="col-6 col-md-4 col-lg-4 d-inline-flex">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Data de Retirada</mat-label>
                                <input #dateinitial matInput [matDatepicker]="pickerx28">
                                <mat-datepicker-toggle matSuffix [for]="pickerx28"></mat-datepicker-toggle>
                                <mat-datepicker #pickerx28></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-4 d-inline-flex">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <input #datefinal matInput [matDatepicker]="pickerx29">
                                <mat-datepicker-toggle matSuffix [for]="pickerx29"></mat-datepicker-toggle>
                                <mat-datepicker #pickerx29></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    </div>

                </fieldset>

                <fieldset class="border p-2 col-6 ">
                    <legend class="w-auto">Data de Devolução</legend><br>
                    <div class="row">
                      <div class="col-6 col-md-4 col-lg-4 d-inline-flex">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Data da Devolução</mat-label>
                                <input #dateinitial matInput [matDatepicker]="pickerx30">
                                <mat-datepicker-toggle matSuffix [for]="pickerx30"></mat-datepicker-toggle>
                                <mat-datepicker #pickerx30></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-4 d-inline-flex">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <input #datefinal matInput [matDatepicker]="pickerx31">
                                <mat-datepicker-toggle matSuffix [for]="pickerx31"></mat-datepicker-toggle>
                                <mat-datepicker #pickerx31></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    </div>

                </fieldset>

            </div><br>

            <fieldset class="border p-2 col-12">
              <legend class="w-auto">Status</legend>
              <div class="row">

                  <div class="col-2 col-sm-2 col-xl-2 d-inline-flex">
                      <mat-checkbox color="primary"  [checked]="statusPending" (change)="getValueStatusPending($event.checked)">
                          Reservado </mat-checkbox>
                  </div>
                  <div class="col-2 col-sm-2 col-xl-2 d-inline-flex">
                      <mat-checkbox color="primary"  (change)="getValueStatusProgress($event.checked)">
                          Liberado</mat-checkbox>
                  </div>

                  <div class="col-2 col-sm-2 col-xl-2 d-inline-flex">
                    <mat-checkbox color="primary"  (change)="getValueStatusFinished($event.checked)">
                        Cancelado</mat-checkbox>
                </div>

              </div>

          </fieldset>



            <div class="row">

                <div class="col-3 col-md-2 col-lg-2">
                  <div class="form-group">
                      <mat-form-field appearance="fill">
                        <mat-label>*Sala </mat-label>
                          <input #complaint class="text-uppercase" matInput (keyup)="getReasonComplaint()">
                      </mat-form-field>
                  </div>
              </div>

              <div class="col-3 col-md-4 col-lg-4">
                  <div class="form-group">
                      <mat-form-field appearance="fill">
                          <input #nameComplaint class="text-uppercase" matInput (dblclick)="openModalMotivorec()">
                      </mat-form-field>
                  </div>
              </div>
              <div class="col-3 col-md-2 col-lg-2">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>*Setor de Uso</mat-label>
                        <input #codeClient class="text-uppercase" matInput  (keyup)="getClientForCode()"(dblclick)="openModalClient()">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-4">
              <div class="form-group">
                  <mat-form-field appearance="fill">
                      <input #nameClient class="text-uppercase" matInput readonly (dblclick)="openModalClient()">
                  </mat-form-field>
              </div>
          </div>
            </div>

            <div class="row">


                <div class="col-3 col-md-2 col-lg-2">
                  <div class="form-group">
                      <mat-form-field appearance="fill">
                        <mat-label>*Solicitante</mat-label>
                          <input #codeClient class="text-uppercase" matInput  (keyup)="getClientForCode()"(dblclick)="openModalClient()">
                      </mat-form-field>
                  </div>
              </div>

              <div class="col-3 col-md-4 col-lg-4">
                  <div class="form-group">
                      <mat-form-field appearance="fill">
                          <input #nameClient class="text-uppercase" matInput readonly (dblclick)="openModalClient()">
                      </mat-form-field>
                  </div>
              </div>
              <div class="col-3 col-md-2 col-lg-2">
                <div class="form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Usuário Digitador</mat-label>
                      <input #user class="text-uppercase" matInput (keyup)="getUserResponsible()" (dblclick)="openModalUser()">
                  </mat-form-field>
              </div>
          </div>
          <div class= "col-3 col-md-4 col-lg-4">
            <div class="form-group">
              <mat-form-field appearance="fill">
                <input #nameUser class="text-uppercase" matInput (dblclick)="openModalUser()">
              </mat-form-field>
          </div>
          </div>
            </div>


            <div class="row">
                <div class="col-3 col-md-4 col-lg-4 d-inline-flex">
                  <button mat-raised-button color="primary" (click)="listSac()">Pesquisar</button>
              </div>
          </div>



        </form>

        <!-- Tabela-->
        <app-my-table d-inline-flex
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        [displayHeaderColumns]="displayHeaderColumns"
        [totalElements]="totalElements"
        [loading]="loading"
        [showButtons]="true"
        [showButtonsConfirm]="false"
        [showinputSearch]="false"
        (getSort)=getMatSort($event)
        (getPaginator)=getMatPaginator($event)
        (searchAll)="getSearchAll($event)"
        (routerEdit)="getRouterEdit($event)"
        (routerDelete)="getRouterDelete($event)"
        (routerCreate)="getRouterCreate($event)">
        </app-my-table>

<!-- botoes de  interação -->
<div class="row ">
  <div class="col-2 col-sm-2 col-xl-4 d-inline-flex ">
      <button mat-raised-button color="primary" type="submit" >Novo</button>
      <button mat-raised-button color="primary" (click)="send()">Alterar</button>
      <button mat-raised-button color="primary" >Remover</button>
      <button mat-raised-button color="primary" >Limpar</button>
      <button mat-raised-button color="primary" >Vizualizar</button>
      <button mat-raised-button color="primary" (click)="back()">Voltar</button>
  </div>
</div><br>

    </div> <!-- ./container-fluid -->


</div>
<app-my-footer></app-my-footer>

