<app-my-header></app-my-header>
<div class="content-wrapper">
<app-my-toolbar [nameContent] = "nameContent"></app-my-toolbar>
<!-- Tabela-->
<app-my-table 
[displayedColumns]="displayedColumns" 
[dataSource]="dataSource" 
[displayHeaderColumns]="displayHeaderColumns" 
[totalElements] = "totalElements"
[loading]="loading"
(getSort)=getMatSort($event)
(getPaginator) = getMatPaginator($event)
(searchAll)="getSearchAll($event)"
(routerEdit)="getRouterEdit($event)"
(routerDelete)="getRouterDelete($event)"
(routerCreate)="getRouterCreate($event)"
>
</app-my-table>
</div>
<app-my-footer></app-my-footer>