<app-my-header></app-my-header>

<div class="content-wrapper">
    <app-my-toolbar [nameContent]="nameContent"></app-my-toolbar>
    <div class="container-fluid">
      <form  *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && save()" novalidate>

        <!-- Linha fixa com os 3 componentes padrão que os valores veem do backend -->
        <div class="row">

          <div class="col-1 col-sm-1 col-xl-1">
              <div class="form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Código</mat-label>
                      <input #codeAtt matInput class="text-uppercase" formControlName="code" >
                  </mat-form-field>
              </div>
          </div>
          <div class="col-1 col-sm-1 col-xl-1">
            <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Solicitante</mat-label>
                    <input #codeAtt matInput class="text-uppercase" formControlName="code" >
                </mat-form-field>
            </div>
        </div>
          <div class="col-3 col-sm-3 col-xl-3">
            <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label></mat-label>
                    <input #protocol class="text-uppercase" matInput formControlName="protocol">
                </mat-form-field>
            </div>
        </div>

  <fieldset class="border p-2 col-6">
                <div class="row">
                <div class="col-3 .col-sm-2 .col-xl-3">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Data da Solicitação</mat-label>
                            <input #dateinitial matInput [matDatepicker]="pickerx48">
                            <mat-datepicker-toggle matSuffix [for]="pickerx48"></mat-datepicker-toggle>
                            <mat-datepicker #pickerx48></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 .col-sm-2 .col-xl-3">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Data Conclusão</mat-label>
                            <input #datefinal matInput [matDatepicker]="pickerx49">
                            <mat-datepicker-toggle matSuffix [for]="pickerx49"></mat-datepicker-toggle>
                            <mat-datepicker #pickerx49></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
              </div>
              </fieldset>
              <div class="col-3 col-sm-3 col-xl-3">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>*Nome do Produto</mat-label>
                        <input #protocol class="text-uppercase" matInput formControlName="protocol">
                    </mat-form-field>
                </div>
            </div>
      </div>

      <!-- Aqui começa o agrupamento das tabs -->
      <mat-tab-group>

        <!-- Inicio da aba Solicitação -->
        <mat-tab label="Solicitaçao">
          <div class="row">
            <!-- <div class="col- .col-sm-5 .col-xl-5 d-inline-flex"> -->
            <fieldset class="border p-2 col-6">
              <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
              <div class="form-group">
               <label for="story">&nbsp; Embalagem Primária &nbsp;</label><br>
                <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
              </div>
              </div>
            </fieldset>
            <fieldset class="border p-2 col-6">
              <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
              <div class="form-group">
               <label for="story">&nbsp; Embalagem Secundária &nbsp;</label><br>
                <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
              </div>
            </div>
            </fieldset>
            <fieldset class="border p-2 col-12">

              <div class="form-group">
               <label for="story">&nbsp; Conceito(* marca,posicionamento,food service,Gondola,ME) &nbsp;</label><br>
                <textarea id="story" name="story" rows="05" cols="200" formControlName="note"> </textarea>
              </div>

            </fieldset>
            <fieldset class="border p-2 col-6">
              <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
              <div class="form-group">
               <label for="story">&nbsp; Expectativa do Solicitante &nbsp;</label><br>
                <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
              </div>
              </div>
            </fieldset>
            <fieldset class="border p-2 col-6">
              <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
              <div class="form-group">
               <label for="story">&nbsp; Observação &nbsp;</label><br>
                <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
              </div>
            </div>
            </fieldset>
          <!-- </div> -->
        </div><br>
        <div class="row">
        <fieldset class="border p-2 col-8">
          <app-my-table
          [displayedColumns]="displayedColumnsVr"
          [dataSource]="dataSourceVr"
          [displayHeaderColumns]="displayHeaderColumnsVr"
          [totalElements] = "totalElementsVr"
          [loading]="loadingVr"
          (getSort)=getMatSortVr($event)
          (getPaginator) = getMatPaginatorVr($event)
          (searchAll)="getSearchAllVr($event)"
          (routerEdit)="getRouterEditVr($event)"
          (routerDelete)="getRouterDeleteVr($event)"
          (routerCreate)="getRouterCreateVr($event)"
          >
          </app-my-table>
        </fieldset>
        <div class="col-4 col-sm-4 col-xl-4">
          <button mat-raised-button color="primary" type="submit" >Anexar</button>
          <button mat-raised-button color="primary" >Remover</button>
             </div>
            </div>
        <!-- botoes de  interação -->

        </mat-tab>
        <!-- Fim da aba solicitação / Inicio aba Marketing -->
        <mat-tab label="Marketing">
          <div class="row">

            <div class="row">
              <app-my-table
              [displayedColumns]="displayedColumnsPr"
              [dataSource]="dataSourcePr"
              [displayHeaderColumns]="displayHeaderColumnsPr"
              [totalElements] = "totalElementsPr"
              [showButtons]="false"
              [showButtonsConfirm]="true"
              [loading]="loadingPr"
              (getSort)=getMatSortPr($event)
              (getPaginator) = getMatPaginatorPr($event)
              (searchAll)="getSearchAllPr($event)"
              (routerEdit)="getRouterEditPr($event)"
              (routerDelete)="getRouterDeletePr($event)"
              (routerCreate)="getRouterCreatePr($event)"
              >
              </app-my-table>
    <!-- botoes de  interação -->
    <div class="row ">
      <div class="col-1 col-sm-4 col-xl-4 d-inline-flex ">
          <button mat-raised-button color="primary">Adicionar</button>

          <button mat-raised-button color="primary">Alterar</button>

          <button mat-raised-button color="primary">Remover</button>

          <button mat-raised-button color="primary"(click)="testemodal()">Visualizar</button>
      </div>
    </div><br>
          </div><br>

          </div>
          <fieldset class="border p-2 col-12">

            <div class="form-group">
             <label for="story">&nbsp; Expectativa Mensal de volume de Vendas &nbsp;</label><br>
              <textarea id="story" name="story" rows="01" cols="250" formControlName="note"> </textarea>
            </div>
            <div class="form-group">
              <label for="story">&nbsp; Observação &nbsp;</label><br>
               <textarea id="story" name="story" rows="05" cols="250" formControlName="note"> </textarea>
             </div>
          </fieldset>

        </mat-tab>
        <!-- Fim da aba Marketing -->

        <!-- Inicio da Aba Industrial -->
        <mat-tab label="Industrial">

        <div class="row">
          <fieldset class="border p-2 col-6">
            <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
            <div class="form-group">
             <label for="story">&nbsp; Formulação &nbsp;</label><br>
              <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
            </div>
            </div>
          </fieldset>
          <fieldset class="border p-2 col-6">
            <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
            <div class="form-group">
             <label for="story">&nbsp; Observações &nbsp;</label><br>
              <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
            </div>
          </div>
          </fieldset>

      </div><br>
      <div class="row">
        <fieldset class="border p-2 col-12">
          <div class="row">
          <div class="col-2 .col-sm-2 .col-xl-3">
              <div class="form-group">
                  <mat-form-field appearance="fill">
                      <mat-label>Protótipo</mat-label>
                      <input #dateinitial matInput [matDatepicker]="pickerx51">
                      <mat-datepicker-toggle matSuffix [for]="pickerx51"></mat-datepicker-toggle>
                      <mat-datepicker #pickerx51></mat-datepicker>
                  </mat-form-field>
              </div>
          </div>
          <div class="col-1 col-sm-1 col-xl-2">
            <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>*validade</mat-label>
                    <input #codeAtt matInput class="text-uppercase" formControlName="code" >
                </mat-form-field>
              </div>
          </div>
          <div class="col-1 col-sm-1 col-xl-2">
            <mat-form-field appearance="fill">
            <div class="form-group">
            <mat-select disableRipple>
              <mat-option value="1">Selecione</mat-option>
              <mat-option value="2">Dias</mat-option>
              <mat-option value="3">xxx</mat-option>
              <mat-option value="4">xxxx</mat-option>
            </mat-select>
         </div>
        </mat-form-field>
        </div>


          <div class="col-2 .col-sm-2 .col-xl-3">
              <div class="form-group">
                  <mat-form-field appearance="fill">
                      <mat-label>*Lançamento</mat-label>
                      <input #datefinal matInput [matDatepicker]="pickerx50">
                      <mat-datepicker-toggle matSuffix [for]="pickerx50"></mat-datepicker-toggle>
                      <mat-datepicker #pickerx50></mat-datepicker>
                  </mat-form-field>
              </div>
          </div>
          <div class="col-2 .col-sm-3 .col-xl-3">
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Selecione</mat-option>
                <mat-option value="2">Industrializado</mat-option>
                <mat-option value="3">xxx</mat-option>
                <mat-option value="4">xxxx</mat-option>
                <mat-option value="5">xxxxx </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>
        </fieldset>

    </div><br>
      <div class="row">
        <fieldset class="border p-2 col-6">
          <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
          <div class="form-group">
           <label for="story">&nbsp; Processo de Produção &nbsp;</label><br>
            <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
          </div>
          </div>
        </fieldset>
        <fieldset class="border p-2 col-6">
          <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
          <div class="form-group">
           <label for="story">&nbsp; Compra de Equipamento &nbsp;</label><br>
            <textarea id="story" name="story" rows="05" cols="125" formControlName="note"> </textarea>
          </div>
        </div>
        </fieldset>

    </div><br>

    <div class="row">
      <div class="col-2 col-sm-1 col-xl-2">
        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>*P.Min.Emb.Primária</mat-label>
                <input #codeAtt matInput class="text-uppercase" formControlName="code" >
            </mat-form-field>
        </div>
    </div>
    <div class="col-2 col-sm-1 col-xl-2">
      <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Invesetimento Embalagem</mat-label>
              <input #codeAtt matInput class="text-uppercase" formControlName="code" >
          </mat-form-field>
      </div>
  </div>
  <div class="col-2 col-sm-1 col-xl-2">
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Volume p/Investimento</mat-label>
            <input #codeAtt matInput class="text-uppercase" formControlName="code" >
        </mat-form-field>
    </div>
</div>
<div class="col-2 col-sm-1 col-xl-2">
  <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Cronoanálise</mat-label>
          <input #codeAtt matInput class="text-uppercase" formControlName="code" >
      </mat-form-field>
  </div>
</div>
<div class="col-1 col-sm-1 col-xl-1">
  <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Rendimento</mat-label>
          <input #codeAtt matInput class="text-uppercase" formControlName="code" >
      </mat-form-field>
  </div>
</div>

    </div><br>
        </mat-tab>
        <!-- Fim da aba Industrial -->

        <!-- Inicio da Aba Cotação -->
        <mat-tab label="Cotação">
          <app-my-table
          [displayedColumns]="displayedColumnsMd"
          [dataSource]="dataSourceMd"
          [displayHeaderColumns]="displayHeaderColumnsMd"
          [totalElements] = "totalElementsMd"
          [loading]="loadingMd"
          [showButtons]="false"
          [showButtonsConfirm]="true"
          (getSort)=getMatSortMd($event)
          (getPaginator) = getMatPaginatorMd($event)
          (searchAll)="getSearchAllMd($event)"
          (routerEdit)="getRouterEditMd($event)"
          (routerDelete)="getRouterDeleteMd($event)"
          (routerCreate)="getRouterCreateMd($event)"
          >
          </app-my-table>


          <!-- botoes de  interação -->
<div class="row ">
  <div class="col-3 col-sm-4 col-xl-4 d-inline-flex ">
      <button mat-raised-button color="primary">Adicionar</button>
      <button mat-raised-button color="primary">Remover</button>
      <button mat-raised-button color="primary">Visualizar</button>
      <button mat-raised-button color="primary">Baixar</button>

  </div>
</div><br>
<div class="row">
  <fieldset class="border p-2 col-12">
    <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
    <div class="form-group">
     <label for="story">&nbsp; Observações &nbsp;</label><br>
      <textarea id="story" name="story" rows="05" cols="250" formControlName="note"> </textarea>
    </div>
  </div>
  </fieldset>

</div>
        </mat-tab>
        <!-- Fim da Aba Cotação  -->


         <!-- Inicio da Aba Controladoria  -->
         <mat-tab label="Controladoria">

        <div class="row">
          <div class="col-2 col-sm-1 col-xl-2">
            <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Pre Custo</mat-label>
                    <input #codeAtt matInput class="text-uppercase" formControlName="code" >
                </mat-form-field>
            </div>
        </div>
        <div class="col-2 col-sm-1 col-xl-2">
          <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>NCM</mat-label>
                  <input #codeAtt matInput class="text-uppercase" formControlName="code" >
              </mat-form-field>
          </div>
      </div>
      <div class="col-2 col-sm-1 col-xl-2">
        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Markup-MTZ 1</mat-label>
                <input #codeAtt matInput class="text-uppercase" formControlName="code" >
            </mat-form-field>
        </div>
    </div>
        </div>
          <div class="row">
            <fieldset class="border p-2 col-6">
              <div class="col-6 .col-sm-6 .col-xl-6 d-inline-flex">
              <div class="form-group">
               <label for="story">&nbsp; Formulação &nbsp;</label><br>
                <textarea id="story" name="story" rows="05" cols="250" formControlName="note"> </textarea>
              </div>
              </div>
            </fieldset>


        </div><br>





         </mat-tab>
         <!-- Fim da Aba Controladoria  -->


          <!-- Inicio da Aba Aprovação 1  -->
        <mat-tab label="Aprovação 1">

        <div class="row">
            <div class="col-3 col-sm-2 col-xl-2">
            <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Despesa</mat-label>
                    <input #sector class="text-uppercase" matInput >
                </mat-form-field>
            </div>
        </div>
          <div class="col-3 col-sm-2 col-xl-2">
            <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Receita</mat-label>
                    <input #sector class="text-uppercase" matInput >
                </mat-form-field>
            </div>
        </div>
        <div class="col-3 col-sm-2 col-xl-2">
          <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Total Gasto</mat-label>
                  <input #sector class="text-uppercase" matInput >
              </mat-form-field>
          </div>
      </div>
</div>
<app-my-table
          [displayedColumns]="displayedColumnsVr"
          [dataSource]="dataSourceVr"
          [displayHeaderColumns]="displayHeaderColumnsVr"
          [totalElements] = "totalElementsVr"
          [loading]="loadingVr"
          (getSort)=getMatSortVr($event)
          (getPaginator) = getMatPaginatorVr($event)
          (searchAll)="getSearchAllVr($event)"
          (routerEdit)="getRouterEditVr($event)"
          (routerDelete)="getRouterDeleteVr($event)"
          (routerCreate)="getRouterCreateVr($event)"
          >
          </app-my-table>
          <!-- botoes de  interação -->
<div class="row ">
  <div class="col-3 col-sm-4 col-xl-4 d-inline-flex ">
      <button mat-raised-button color="primary">Adicionar</button>
      <button mat-raised-button color="primary">Alterar</button>
      <button mat-raised-button color="primary">Remover</button>
       <button mat-raised-button color="primary">Visualizar</button>
  </div>
</div><br>
        </mat-tab>
        <!-- Fim da Aba Aprovação 1   -->

         <!-- Inicio da Aba Aprovação 2  -->
         <mat-tab label="Apovação 2 ">
        <div class="row">

          <fieldset class="border p-2 col-12">

            <div class="form-group">
             <label for="story">&nbsp; Observação &nbsp;</label><br>
              <textarea id="story" name="story" rows="20" cols="200" formControlName="note"> </textarea>
            </div>
          </fieldset>
<!-- botoes de  interação -->

      </div><br></mat-tab>
         <!-- Fim da Aba Aprovação 2  -->

          <!-- Inicio da Aba PED  -->
        <mat-tab label="PED">

        <div class="row">

         
<!-- botoes de  interação -->
<div class="row ">
  <div class="col-3 col-sm-4 col-xl-4 d-inline-flex ">

      <button mat-raised-button color="primary">Alterar</button>
      <button mat-raised-button color="primary">Visualizar</button>
  </div>
</div><br>
      </div><br>

        </mat-tab>
        <!-- Fim da Aba PED  -->

      <!-- Inicio da Aba Auditoria  -->
      <mat-tab label="Auditoria">

        <div class="row">

          <app-my-table
          [displayedColumns]="displayedColumnsAn"
          [dataSource]="dataSourceAn"
          [displayHeaderColumns]="displayHeaderColumnsAn"
          [totalElements] = "totalElementsAn"
          [loading]="loadingAn"
          (getSort)=getMatSortAn($event)
          (getPaginator) = getMatPaginatorAn($event)
          (searchAll)="getSearchAllAn($event)"
          (routerEdit)="getRouterEditAn($event)"
          (routerDelete)="getRouterDeleteAn($event)"
          (routerCreate)="getRouterCreateAn($event)"
          >
          </app-my-table>
      <!-- botoes de  interação -->
      <div class="row ">
      <div class="col-3 col-sm-4 col-xl-4 d-inline-flex ">

      <button mat-raised-button color="primary">Assumir</button>
      <button mat-raised-button color="primary">Anterior</button>
      <button mat-raised-button color="primary">Próximo</button>
      </div>
      </div><br>
      </div><br>

        </mat-tab>
        <!-- Fim da Aba Auditoria  -->


      </mat-tab-group>
<!-- botoes de  interação -->
<div class="row ">
  <div class="col-3 col-sm-4 col-xl-4 d-inline-flex ">
      <button mat-raised-button color="primary" type="submit" >Salvar</button>
      <button mat-raised-button color="primary" >Limpar</button>
      <button mat-raised-button color="primary" (click)="finalize()" >Finalizar</button>
      <button mat-raised-button color="primary" (click)="print()">Imprimir</button>
      <button mat-raised-button color="primary" (click)="back()">Voltar</button>
  </div>
</div><br>
      <!-- adiciona os elementos na pagina -->
       </form>
    </div> <!-- ./container-fluid -->

</div>
<app-my-footer></app-my-footer>
