<app-my-header></app-my-header>
<div class="content-wrapper">
    <app-my-toolbar [nameContent]="nameContent"></app-my-toolbar>
    <div class="container-fluid">
        <!-- adiciona os elementos na pagina -->
        <form>

            <div class="row">
                <fieldset class="border p-2 col-6">
                    <legend class="w-auto">Data do Gasto</legend>
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <mat-form-field appearance="fill">
                                    <mat-label>Data do Gasto</mat-label>
                                    <input #dateinitial matInput [matDatepicker]="pickerx40">
                                    <mat-datepicker-toggle matSuffix [for]="pickerx40"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerx40></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <mat-form-field appearance="fill">
                                    <input #datefinal matInput [matDatepicker]="pickerx41">
                                    <mat-datepicker-toggle matSuffix [for]="pickerx41"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerx41></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="border p-2 col-6">
                  <legend class="w-auto">Status</legend>
                  <div class="row">

                      <div class="col-3 col-sm-2 .col-xl-2">
                          <mat-checkbox color="primary"  [checked]="statusPending" (change)="getValueStatusPending($event.checked)">
                              Pendente</mat-checkbox>
                      </div>

                      <div class="col-3 .col-sm-2 .col-xl-2">
                        <mat-checkbox color="primary"  (change)="getValueStatusFinished($event.checked)">
                           Em Andamento </mat-checkbox>
                      </div>

                      <div class="col-3 .col-sm-2 .col-xl-2">
                          <mat-checkbox color="primary" (change)="getValueStatusFinished($event.checked)">
                              Concluido</mat-checkbox>
                      </div>

                      <div class="col-3 .col-sm-2 .col-xl-2">
                        <mat-checkbox color="primary"  (change)="getValueStatusFinished($event.checked)">
                            Cancelado</mat-checkbox>
                       </div>

                  </div>

                 </fieldset>

            </div><br>


            <div class="row">

                <div class="col-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Protocolo</mat-label>
                            <input #code matInput class="text-uppercase" >
                        </mat-form-field>
                    </div>
                </div>

                    <div class="col-2 col-md-2 col-lg-2">
                      <div class="form-group">
                          <mat-form-field appearance="fill">
                            <mat-label>Solicitante </mat-label>
                              <input #complaint class="text-uppercase" matInput (keyup)="getReasonComplaint()">
                          </mat-form-field>
                      </div>
                    </div>

                  <div class="col-3 col-md-4 col-lg-4">
                      <div class="form-group">
                          <mat-form-field appearance="fill">
                              <input #nameComplaint class="text-uppercase" matInput (dblclick)="openModalMotivorec()">
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="col-3 col-md-4 col-lg-4 d-inline-flex ">
                  <button mat-raised-button color="primary" (click)="listSac()">Pesquisar</button>
                  </div>
            </div>


        </form>

        <!-- Tabela-->
        <app-my-table
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        [displayHeaderColumns]="displayHeaderColumns"
        [totalElements]="totalElements"
        [loading]="loading"
        [showButtons]="true"
        [showButtonsConfirm]="false"
        [showinputSearch]="false"
        (getSort)=getMatSort($event)
        (getPaginator)=getMatPaginator($event)
        (searchAll)="getSearchAll($event)"
        (routerEdit)="getRouterEdit($event)"
        (routerDelete)="getRouterDelete($event)"
        (routerCreate)="getRouterCreate($event)">
        </app-my-table>

<!-- botoes de  interação -->
    <div class="row ">
          <div class="col-4 .col-sm-4 .col-xl-4 d-inline-flex ">
              <button mat-raised-button color="primary" type="submit" >Novo</button>
              <button mat-raised-button color="primary" >Alterar</button>
              <button mat-raised-button color="primary"  >Renomear</button>
              <button mat-raised-button color="primary" >Limpar</button>
              <button mat-raised-button color="primary" >Visualizar</button>
              <button mat-raised-button color="primary" (click)="back()">Voltar</button>
          </div>
    </div><br>

    </div> <!-- ./container-fluid -->


</div>
<app-my-footer></app-my-footer>
