<app-my-header></app-my-header>
<div class="content-wrapper">
    <app-my-toolbar [nameContent]="nameContent"></app-my-toolbar>
    <div class="container-fluid">
        <!-- adiciona os elementos na pagina -->
        <form>

            <div class="row">
                <fieldset class="border p-2 col-6">
                    <legend class="w-auto">Status</legend>
                    <div class="row">
                     
                        <div class="col-2 col-md-3 col-lg-3">
                            <mat-checkbox color="primary"  [checked]="statusPending" (change)="getValueStatusPending($event.checked)">
                                Pendente</mat-checkbox>
                        </div>
                        <div class="col-2 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="statusProgress" (change)="getValueStatusProgress($event.checked)">
                                Em
                                Andamento</mat-checkbox>
                        </div>
                        <div class="col-2 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="statusFinished" (change)="getValueStatusFinished($event.checked)">
                                Finalizado</mat-checkbox>
                        </div>
                    </div>

                </fieldset>

                <fieldset class="border p-2 col-6">
                    <legend class="w-auto">Classificação</legend>
                    <div class="row">
                        <div class="col-1 col-md-4 col-lg-4">
                            <mat-checkbox color="primary" [checked]="ckbQuality" (change)="getValueCkbQuality($event.checked)">Qualidade
                                e Outros</mat-checkbox>
                        </div>
                        <div class="col-1 col-md-5 col-lg-5">
                            <mat-checkbox color="primary" [checked]="ckbDevolution" (change)="getValueCkbDevolution($event.checked)">
                                Devoluções e Refaturamento</mat-checkbox>
                        </div>
                        <div class="col-1 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="ckbOccurrence" (change)="getValueCkbOccurrence($event.checked)">
                                Ocorrência</mat-checkbox>
                        </div>
                        <div class="col-1 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="ckbOthers" (change)="getValueCkbOthers($event.checked)">Terceiros
                            </mat-checkbox>
                        </div>
                        <div class="col-1 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="ckbFfo" (change)="getValueCkbFfo($event.checked)">FFO
                            </mat-checkbox>
                        </div>
                        <div class="col-1 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="ckbInformative" (change)="getValueCkbInformative($event.checked)">
                                Informativo</mat-checkbox>
                        </div>
                        <div class="col-1 col-md-3 col-lg-3">
                            <mat-checkbox color="primary" [checked]="ckbExport" (change)="getValueCkbExport($event.checked)">Exportação
                            </mat-checkbox>
                        </div>
                    </div>

                </fieldset>

            </div><br>

            <div class="row">

                <div class="col-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Data Inicial</mat-label>
                            <input #dateinitial matInput [matDatepicker]="pickerInitial">
                            <mat-datepicker-toggle matSuffix [for]="pickerInitial"></mat-datepicker-toggle>
                            <mat-datepicker #pickerInitial></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Data Final</mat-label>
                            <input #datefinal matInput [matDatepicker]="pickerFinal">
                            <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFinal></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>


                <div class="col-6 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Código</mat-label>
                            <input #code matInput class="text-uppercase" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>NF-e</mat-label>
                            <input #nfe matInput class="text-uppercase" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-3">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Nf-e de Devolução</mat-label>
                            <input #devolution matInput class="text-uppercase" >
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-3 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Cliente ERP</mat-label>
                            <input #erpClient class="text-uppercase" matInput (keyup)="getClientForERP()" (dblclick)="openModalClient()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Cliente</mat-label>
                            <input #codeClient class="text-uppercase" matInput  (keyup)="getClientForCode()"(dblclick)="openModalClient()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <input #nameClient class="text-uppercase" matInput readonly (dblclick)="openModalClient()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 col-md-5 col-lg-5">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Protocolo</mat-label>
                            <input #protocol class="text-uppercase" matInput >
                        </mat-form-field>
                    </div>
                </div>

            </div>


            <div class="row">

              <div class="col-3 col-md-2 col-lg-2">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>Produto</mat-label>
                      <input #product class="text-uppercase" matInput (keyup)="getProduct()"(dblclick)="openModalProduct()">

                    </mat-form-field>
                </div>
            </div>

            <div class="col-3 col-md-4 col-lg-4">
              <div class="form-group">
                  <mat-form-field appearance="fill">
                    <input #nameProduct class="text-uppercase" matInput (dblclick)="openModalProduct()">
                  </mat-form-field>
              </div>
          </div>
          <div class="col-3 col-md-2 col-lg-2">
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Responsável pelo Atendimento</mat-label>
                  <input #user class="text-uppercase" matInput (keyup)="getUserResponsible()" (dblclick)="openModalUser()">
              </mat-form-field>
          </div>
      </div>

           <div class= "col-3 col-md-3 col-lg-3">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <input #nameUser class="text-uppercase" matInput (dblclick)="openModalUser()">
                </mat-form-field>
            </div>



              </div>
        </div>




            <div class="row">
                <div class="col-3 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Motivo da Reclamação</mat-label>
                            <input #complaint class="text-uppercase" matInput (keyup)="getReasonComplaint()"(dblclick)="openModalMotivorec()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 col-md-4 col-lg-4">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <input #nameComplaint class="text-uppercase" matInput (dblclick)="openModalMotivorec()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 col-md-2 col-lg-2">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                          <mat-label>Setor</mat-label>
                            <input #sector class="text-uppercase" matInput (keyup)="getSector()"(dblclick)="openModalSetor()">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-3 col-md-4 col-lg-4">
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <input #nameSector class="text-uppercase" matInput (dblclick)="openModalSetor()">
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="row ">
                <div class="col-3 col-md-4 col-lg-4 ">
                    <button mat-raised-button color="primary" (click)="listSac()">Pesquisar</button>
                </div>
                <div class="offset-5 col-2 col-md-3 col-lg-3">
                    <mat-checkbox color="primary"  [checked]="noReturn" (change)="getValueNoreturn($event.checked)">Apenas sem Retorno
                    </mat-checkbox>
                </div>
            </div><br>


        </form>

        <!-- Tabela-->
        <app-my-table
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        [displayHeaderColumns]="displayHeaderColumns"
        [totalElements]="totalElements"
        [loading]="loading"
        [showButtons]="true"
        [showButtonsConfirm]="false"
        [showinputSearch]="false"
        (getSort)=getMatSort($event)
        (getPaginator)=getMatPaginator($event)
        (searchAll)="getSearchAll($event)"
        (routerEdit)="getRouterEdit($event)"
        (routerDelete)="getRouterDelete($event)"
        (routerCreate)="getRouterCreate($event)">
        </app-my-table>

    </div> <!-- ./container-fluid -->


</div>
<app-my-footer></app-my-footer>
