

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <ul class="nav-item">
            <a class="nav-link" data-widget="pushmenu"  role="button"><em class="fas fa-bars"></em></a>
          </ul>
          <ul class="nav-item d-none d-sm-inline-block" routerLinkActive="active">
            <a routerLink ="/principal" class="nav-link">Pagina inicial</a>
          </ul>

        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a routerLink="/principal" class="brand-link">
          <span class="brand-text font-weight-light offset-4"><img src="./assets/dist/img/logoSiaMenu.png" width="50" height="50"></span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="./assets/dist/img/userProfile.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a routerLink="/usuario/perfil" class="d-block">{{userLogged.name}}</a>
              <!-- <a>{{unitLogged.name}}</a> -->
            </div>
          </div>

          <!-- SidebarSearch Form -->
          <!-- <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
              <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-sidebar">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div>
          </div> -->

          <!-- Sidebar Menu -->
          <nav class="mt-2" >
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">



 <!-- Menu item Cadastro -->
 <ul class="nav-item">
  <a  class="nav-link">
    <img src="./assets/dist/img/menu/register.png" width="40" height="40">
    <p>
      Cadastro
      <em class="fas fa-angle-left right"></em>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <ul class="nav-item">
      <a routerLink="/cadastro/manutencao" class="nav-link">
        <p>Manutenção</p>
      </a>
    </ul>
    <hr/>
   <!-- <ul class="nav-item">
      <a routerLink="#" class="nav-link">
        <p>Pedidos</p>
      </a>
    </ul>
    <hr/>
    <ul class="nav-item">
      <a routerLink="/sac" class="nav-link">
        <p>SAC</p>
      </a>
    </ul>
    <hr/>
    <ul class="nav-item">
      <a routerLink="#" class="nav-link">
        <p>Solicitação de Atualização de Cliente</p>
      </a>
    </ul>
    <hr/>
    <ul class="nav-item">
      <a routerLink="#" class="nav-link">
        <p>Solicitação de Inativação Cliente</p>
      </a>
    </ul> -->
  </ul>
</ul>

              <!-- Menu item Relacionamento -->
              <ul class="nav-item">
                <a  class="nav-link">
                  <img src="./assets/dist/img/menu/relationship.png" width="40" height="40">
                  <p>
                    Relacionamento
                    <em class="fas fa-angle-left right"></em>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <ul class="nav-item">
                    <a routerLink="#" class="nav-link">
                      <p>Agendamento de Visita ao Cliente</p>
                    </a>
                  </ul>
                  <hr/>
                 <ul class="nav-item">
                    <a routerLink="#" class="nav-link">
                      <p>Pedidos</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/sac" class="nav-link">
                      <p>SAC</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="#" class="nav-link">
                      <p>Solicitação de Atualização de Cliente</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="#" class="nav-link">
                      <p>Solicitação de Inativação Cliente</p>
                    </a>
                  </ul>
                </ul>
              </ul>

              <!-- Menu item Informatica -->
              <ul class="nav-item">
                <a  class="nav-link">
                  <img src="./assets/dist/img/menu/computing.png" width="40" height="40">
                  <p>
                    Informática
                    <em class="fas fa-angle-left right"></em>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <ul class="nav-item">
                    <a routerLink="/informatica/aluguelimp" class="nav-link">
                      <p>Aluguel de Impressoras</p>
                    </a>
                  </ul>
                  <hr/>
                 <ul class="nav-item">
                    <a routerLink="/informatica/contadorimp" class="nav-link">
                      <p>Contador de Impressora</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/informatica/estoqueti" class="nav-link">
                      <p>Controle de Estoque TI</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/informatica/contratoemprest" class="nav-link">
                      <p>Contrato de Emprestimo de Equipamentos</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/informatica/parqueinfo" class="nav-link">
                      <p>Equipamentos do Parque de Informática</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/informatica/despesasimp" class="nav-link">
                      <p>Despesas das Impressoras</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/informatica/emprestimoequip" class="nav-link">
                      <p>Emprestimo de Equipamentos de Informática</p>
                    </a>
                  </ul>
                  <ul class="nav-item">
                    <a routerLink="/informatica/tabelapreco" class="nav-link">
                      <p>Tabela de Preços por Impressão</p>
                    </a>
                  </ul>
                  <hr/>
                  <ul class="nav-item">
                    <a routerLink="/informatica/importconta" class="nav-link">
                      <p>Importação Contador de Impressora</p>
                    </a>
                  </ul>
                  <hr/>


                </ul>
              </ul>

        <!-- Menu item Financeiro -->
        <ul class="nav-item">
          <a  class="nav-link">
            <img src="./assets/dist/img/menu/financial.png" width="40" height="40">
            <p>
              Financeiro
              <em class="fas fa-angle-left right"></em>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <ul class="nav-item">
              <a routerLink="/financeiro/adiantamento" class="nav-link">
                <p>Adiantamento</p>
              </a>
            </ul>
            <hr/>
          <ul class="nav-item">
              <a routerLink="/financeiro/aprovadorfinanc" class="nav-link">
                <p>Aprovador Financeiro</p>
              </a>
            </ul>
            <hr/>
            <ul class="nav-item">
              <a routerLink="/financeiro/reembolso" class="nav-link">
                <p>Reembolso</p>
              </a>
            </ul>

            <hr/>




          </ul>
        </ul>

          <!-- Menu item Logistica -->
          <ul class="nav-item">
            <a  class="nav-link">
              <img src="./assets/dist/img/menu/logistic.png" width="40" height="40">
              <p>
                Logística
                <em class="fas fa-angle-left right"></em>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <ul class="nav-item">
                <a routerLink="/logistica/emprestimo" class="nav-link">
                  <p>Emprestimo de Veículo</p>
                </a>
              </ul>
              <hr/>
            <ul class="nav-item">
                <a routerLink="/logistica/abastecimento" class="nav-link">
                  <p>Ordem de Abastecimento</p>
                </a>
              </ul>
              <hr/>
              <ul class="nav-item">
                <a routerLink="/logistica/prioridadeemprestimo" class="nav-link">
                  <p>Prioridade Veiculo para Emprestimo</p>
                </a>
              </ul>
              <hr/>
              <ul class="nav-item">
                <a routerLink="/logistica/rotinaemprestimo" class="nav-link">
                  <p>Rotina de Emprestimo de Veículo</p>
                </a>
              </ul>


            </ul>
          </ul>
          <!-- Menu item Suprimentos -->
          <ul class="nav-item">
            <a  class="nav-link">
              <img src="./assets/dist/img/menu/supply.png" width="40" height="40">
              <p>
                Suprimentos
                <em class="fas fa-angle-left right"></em>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <ul class="nav-item">
                <a routerLink="/suprimentos/descarga" class="nav-link">
                  <p>Descarga de Materia Prima</p>
                </a>
              </ul>
              <hr/>
            </ul>
          </ul>


          <!-- Menu item Manutenção -->
          <ul class="nav-item">
            <a  class="nav-link">
              <img src="./assets/dist/img/menu/maintenance.png" width="40" height="40">
              <p>
                Manutenção
                <em class="fas fa-angle-left right"></em>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <ul class="nav-item">
                <a routerLink="/manutencao/agendamento" class="nav-link">
                  <p>Agendamento de Ordem de Serviço</p>
                </a>
              </ul>
              <hr/>
            <ul class="nav-item">
                <a routerLink="/manutencao/emprestimo" class="nav-link">
                  <p>Empréstimo de Ferramentas</p>
                </a>
              </ul>
              <hr/>
              <ul class="nav-item">
                <a routerLink="/manutencao/hodometro" class="nav-link">
                  <p>Hodômetro/Horímetro</p>
                </a>
              </ul>
              <hr/>
              <ul class="nav-item">
                <a routerLink="/manutencao/ordemserv" class="nav-link">
                  <p>Ordem de Serviço</p>
                </a>
              </ul>
              <hr/>
              <ul class="nav-item">
                <a routerLink="/manutencao/rotinaman" class="nav-link">
                  <p>Rotina de Manutenção</p>
                </a>
              </ul>
              <ul class="nav-item">
                <a routerLink="/manutencao/solicitacao" class="nav-link">
                  <p>Solicitação de Serviço</p>
                </a>
              </ul>
              <ul class="nav-item">
                <a routerLink="/manutencao/planoman" class="nav-link">
                  <p>Plano de Manutenção</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/manutencao/periodicidadepman" class="nav-link">
                  <p>Periodicidade do Plano de Manutenção</p>
                </a>
              </ul>
              <ul class="nav-item">
                <a routerLink="/manutencao/gerarospman" class="nav-link">
                  <p>Gerar O.S. Plano de Manutenção</p>
                </a>
              </ul>
            </ul>
          </ul>



       <!-- Menu item PED -->
      <ul class="nav-item">
        <a  class="nav-link">
          <img src="./assets/dist/img/menu/ped.png" width="40" height="40">
          <p>
            P&D
            <em class="fas fa-angle-left right"></em>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <ul class="nav-item">
            <a routerLink="/ped/novosprodutos" class="nav-link">
              <p>Solicitação de Novos Produtos</p>
            </a>
          </ul>
          <hr/>
        </ul>
      </ul>

 <!-- Menu item Facilities -->
 <ul class="nav-item">
  <a  class="nav-link">
    <img src="./assets/dist/img/menu/facilities.png" width="40" height="40">
    <p>
      Facilities
      <em class="fas fa-angle-left right"></em>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <ul class="nav-item">
      <a routerLink="/facilities/reservadesala" class="nav-link">
        <p>Reserva de Salas</p>
      </a>
    </ul>
    <hr/>
  </ul>
</ul>

          <!-- Menu item Relatorios -->
          <ul class="nav-item">
            <a  class="nav-link">
              <img src="../assets/dist/img/menu/report.png" width="40" height="40">
              <p> Relatórios<em class="fas fa-angle-left right"></em></p>
            </a>
              <ul class="nav nav-treeview">
              <ul class="nav-item">
                <a routerLink="/relatorio/sac" class="nav-link">
                  <p> Atendimento (SAC)</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/relatorio/produtosia" class="nav-link">
                  <p>Produto Reclamado</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/relatorio/motivorec" class="nav-link">
                  <p>Motivo Reclamado Cliente</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/relatorio/produtom" class="nav-link">
                  <p>Produto por Motivo</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/relatorio/clientepos" class="nav-link">
                  <p>Clientes Possiveis Pós-Venda</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/relatorio/clienterea" class="nav-link">
                  <p>Clientes Reativados Pós-Venda</p>
                </a>
              </ul>

              <ul class="nav-item">
                <a routerLink="/relatorio/clienteinat" class="nav-link">
                  <p>Inativação Cliente</p>
                </a>
              </ul>
            </ul>
          </ul>

            </ul>



          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
        <div class="footer-sidebar">
          <img src="./assets/dist/img/socialMedia.png" >
        </div>
      </aside>

      <!-- Control Sidebar -->
      <!-- <aside class="control-sidebar control-sidebar-dark"> -->
        <!-- Control sidebar content goes here -->
      <!-- </aside> -->
      <!-- /.control-sidebar -->




