<app-my-header></app-my-header>
<div class="content-wrapper">
<app-my-toolbar [nameContent]="nameContent"></app-my-toolbar>
<div class="container-fluid">

  <div class="row">

    <fieldset class="border p-2 col-6">
      <legend class="w-auto">Data Inicial</legend>
      <div class="row">

        <div class="col-3 col-md-4 col-lg-4">
          <div class="form-group">
              <mat-form-field appearance="fill" >
                  <mat-label>Data Inicial</mat-label>
                  <input  matInput [matDatepicker]="pickerx22" formControlName="dateCreation"   [formControl]="dateCreation">
                  <mat-datepicker-toggle matSuffix [for]="pickerx22"></mat-datepicker-toggle>
                  <mat-datepicker #pickerx22></mat-datepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="col-3 col-md-4 col-lg-4">
        <div class="form-group">
          <mat-form-field appearance="fill" >
              <mat-label></mat-label>
              <input  matInput [matDatepicker]="pickerx25" formControlName="closingDate"  [formControl]="closingDate">
              <mat-datepicker-toggle matSuffix [for]="pickerx25"></mat-datepicker-toggle>
              <mat-datepicker #pickerx25></mat-datepicker>
          </mat-form-field>
      </div>

        </div>
      </div>

  </fieldset>

  <fieldset class="border p-2 col-6">
    <legend class="w-auto">Data Final</legend>
    <div class="row">
      <div class="col-3 col-md-4 col-lg-4">
        <div class="form-group">
            <mat-form-field appearance="fill" >
                <mat-label>Data Final</mat-label>
                <input  matInput [matDatepicker]="pickerx23" formControlName="closingDate"  [formControl]="closingDate">
                <mat-datepicker-toggle matSuffix [for]="pickerx23"></mat-datepicker-toggle>
                <mat-datepicker #pickerx23></mat-datepicker>
            </mat-form-field>
        </div>
      </div>
      <div class="col-3 col-md-4 col-lg-4">
        <div class="form-group">
          <mat-form-field appearance="fill" >
              <mat-label></mat-label>
              <input  matInput [matDatepicker]="pickerx24" formControlName="closingDate"  [formControl]="closingDate">
              <mat-datepicker-toggle matSuffix [for]="pickerx24"></mat-datepicker-toggle>
              <mat-datepicker #pickerx24></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

    </div>

</fieldset>


<fieldset class="border p-2 col-6">
  <legend class="w-auto">Previsão de Término</legend>
  <div class="row">

    <div class="col-3 col-md-4 col-lg-4">
      <div class="form-group">
          <mat-form-field appearance="fill" >
              <mat-label>Previsão de Término</mat-label>
              <input  matInput [matDatepicker]="pickerx26" formControlName="dateCreation"   [formControl]="dateCreation">
              <mat-datepicker-toggle matSuffix [for]="pickerx26"></mat-datepicker-toggle>
              <mat-datepicker #pickerx26></mat-datepicker>
          </mat-form-field>
      </div>
    </div>
    <div class="col-3 col-md-4 col-lg-4">
    <div class="form-group">
      <mat-form-field appearance="fill" >
          <mat-label></mat-label>
          <input  matInput [matDatepicker]="pickerx27" formControlName="closingDate"  [formControl]="closingDate">
          <mat-datepicker-toggle matSuffix [for]="pickerx27"></mat-datepicker-toggle>
          <mat-datepicker #pickerx27></mat-datepicker>
      </mat-form-field>
    </div>

    </div>
  </div>

</fieldset>



</div>

<div class="row">

  <div class="col-3 col-md-2 col-lg-2">
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Código</mat-label>
            <input #codeClient class="text-uppercase" matInput  (keyup)="getClientForCode()"(dblclick)="openModalClient()">
        </mat-form-field>
    </div>
</div>

<div class="col-3 col-md-3 col-lg-3">
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Patrimônio</mat-label>
            <input #nameClient class="text-uppercase" matInput readonly (dblclick)="openModalClient()">
        </mat-form-field>
    </div>
</div>
<div class="col-6 col-md-3 col-lg-3">
  <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Numero Chip</mat-label>
          <input  matInput class="text-uppercase" >
      </mat-form-field>
  </div>
</div>


</div>
<div class="row">

  <div class="col-6 col-md-2 col-lg-2">
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Equipamento</mat-label>
            <input #code matInput class="text-uppercase" >
        </mat-form-field>
    </div>
</div>
<div class="col-3 col-md-3 col-lg-3">
  <div class="form-group">
      <mat-form-field appearance="fill">
       <input  class="text-uppercase" matInput readonly>
      </mat-form-field>
  </div>
</div>

<div class="col-2 col-md-3 col-lg-3">
  <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Criador do Contato</mat-label>
          <input #code matInput class="text-uppercase" >
      </mat-form-field>
  </div>
</div>
<div class="col-6 col-md-3 col-lg-3">
<div class="form-group">
    <mat-form-field appearance="fill">
     <input  class="text-uppercase" matInput readonly>
    </mat-form-field>
</div>
</div>





</div>

<div class="row">

  <div class="col-6 col-md-2 col-lg-2">
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Matrícula do Empregado</mat-label>
            <input #code matInput class="text-uppercase" >
        </mat-form-field>
    </div>
  </div>
<div class="col-3 col-md-3 col-lg-3">
  <div class="form-group">
      <mat-form-field appearance="fill">
       <input  class="text-uppercase" matInput readonly>
      </mat-form-field>
  </div>
</div>


</div>

</div>

<!-- botoes de  interação -->
<div class="row ">
  <div class="col-3 col-md-4 col-lg-4 d-inline-flex ">
      <button mat-raised-button color="primary" type="submit" >Salvar</button>
      <button mat-raised-button color="primary" (click)="send()">Enviar</button>
      <button mat-raised-button color="primary" (click)="finalize()" >Finalizar</button>
      <button mat-raised-button color="primary" (click)="print()">Imprimir</button>
      <button mat-raised-button color="primary" (click)="back()">Voltar</button>
  </div>
</div><br>

</div> <!-- ./container-fluid -->


<app-my-footer></app-my-footer>
